.section--container.section-about,
.section--container.section-skills {
    font-size: 1.35em;
    line-height: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: justify;
    @include media-screen(768px){
        text-align: left;
    }
}
.skills-list--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}

.skills-list {
    list-style: none;  
    padding: 0;
    text-align: center;
}