/* * * * * * * * *
 * Main Components
 * * * * * * * * */
 * {
     box-sizing: border-box;
 }
 body {
     color: rgb(101, 84, 84);     
     font-family: 'Raleway', 'Helvetica Neue', sans-serif;
 }
 a {
     color: inherit;
     text-decoration: inherit;
 }

 .section--container {
    padding: 5%;
    @include media-screen(768px){
        padding: 4.5% 8.5%;
    }
    @include media-screen(1280px){
        padding: 5% 8%;
    }
 }