/* * * * * * * * *
 * Main Components
 * * * * * * * * */
 body {
     color: rgb(101, 84, 84);     
     font-family: 'Raleway', 'Helvetica Neue', sans-serif;
 }
 a {
     color: inherit;
     text-decoration: inherit;
 }