.container__contact-form {
    display: none;
    background-color: rgba(189, 189, 189, 0.43);
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}
.contact-form {
    
}