@keyframes slideUp {
    0% {
        opacity: 0;
        bottom: -20%;
    }
    100% {
        opacity: 1;
        bottom: 0%;
    }
}

@keyframes fadeInLeft{
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

//Cards container
.work-samples {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 0 0.5em 0;
}

//Single card container
.work-sample {
    position: relative;
    &:hover,
    &:focus {
        outline: none;
        & .sample__figure .sample__body {
            background-color: rgba(249,249,249,0.9);
            color: #474747;
            height: 100%;
            .work-sample__link {
                background-color: rgb(65, 166, 199);
            }
            .work-sample__description {
                animation: fadeInLeft 650ms ease forwards 250ms;
            }
        }
    }
}

.sample__gradient {
    background-color: rgba(62, 62, 62, 0.55);
    display: block;
    height: 99%;
    position: absolute;
    top: 0;
    transition: opacity 500ms ease;
    width: 100%;
    z-index: 2;
}

.sample__figure {
    cursor: pointer;
    margin: 0;
    position: relative;
    overflow: hidden; //Work card figure
    .sample__img {
        filter: saturate(0.5);
        width: 100%;
        height: auto;
    } //Work card caption
    .sample__body {
        bottom: 0;
        color: rgb(255, 255, 255);
        display: block;
        height: 30%;
        margin: 0;
        padding: 5%;
        position: absolute;
        transition: all 500ms ease-out;
        width: 100%;
        z-index: 3;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        .work-sample__title {
            display: inline-block;
            font-size: 1.25em;
            font-weight: 800;
            letter-spacing: 1px;
            margin: 0.125em 0;
            text-transform: uppercase;
            grid-area: wtitle;
        }
        .work-sample__link {
            background-color: rgba(131, 141, 144, 0.70);
            border-radius: 4px;
            color: rgb(249,249,249);
            display: inline-block;
            margin-left: 0.75em;
            padding: 0.25em 0.75em;
            text-transform: uppercase;
            transition: background-color 650ms ease-out; 
        }
        .work-sample__description {
            font-size:0.78em;
            line-height: 1.75em;
            opacity: 0;
            text-align: justify;
            transform: translateY(25%);
            p {
                margin-top: 1em;
            }
        }
    }
}