.section-contact {
    font-size: 1.5em;
    line-height: 1.75em;
    padding: 6% inherit;
    @include media-screen(768px){
        font-size: 1.75em;
        padding: 3% inherit;
    }
    @include media-screen(1024px){
        padding: 10% inherit;
    }
}
.contact-link__index {
    display: inline-block;
    color: rgb(0, 184, 240);
    cursor: pointer;
    position: relative;
    &:after {
        content: "";
        background-color: rgb(23, 141, 177);        
        display: block;
        height: 1px;
        width: 0;
        position: absolute;
        transition: all 0.44s ease; 
    }
    &:hover,
    &:focus {
        color: rgb(32, 175, 221);
        &:after{
            background-color: rgb(32, 175, 221);            
            width: 100%;
        }
    }
}