@keyframes blinkInOut {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.header-title--prefix {
    color: rgb(187, 166, 166);
    font-size: 65%;
    margin-right: 8px;
    position: relative;
    top: -0.20em;
}

.section-top__header-title {
    font-size: 2.25em;
    font-weight: 800;
    margin: 0.5em 0;
    @include media-screen(768px) {
        font-size: 2.75em;
    }
    @include media-screen(1280px) {
        font-size: 4em;
    }
}

.header-title--cursor {
    animation: blinkInOut 850ms steps(2,end) infinite;
    content: '';
    border-right: 8px solid rgb(101, 84, 84);
    margin-left: 8px;
}

.section-top__header-sub {
    font-size: 1.25em;
    line-height: 1.75em;
    @include media-screen(768px) {
        font-size: 1.75em;
        line-height: 1.45em;
    }
    @include media-screen(1280px) {
        font-size: 1.35em;
    }
}

.section-top__header-links {
    margin-top: 1em;
}

$svg-colors: rgb(36, 41, 46),
rgb(0, 150, 136),
rgb(0, 119, 181),
rgb(255, 142, 99);

.link__icon {
    svg {
        fill: rgb(101, 84, 84);
        transition: all 0.40s ease;
    }
    &:hover {
        @for $i from 1 through 4 {
            &:nth-of-type(#{$i}) {
                svg {
                    fill: nth($svg-colors,$i);
                    transform: scale(1.05);
                }
            }
        }
    }
}

.icon__svg-path {
    width: 45px;
    height: 45px;
    @include media-screen(768px) {
        width: 65px;
        height: 65px;
    }
}