<div id='contactFormContainer' class='container__contact-form'>
    <form id='contactForm' class='contact-form'>
        <div id='contactFormClose' class='contact-form__close'>&#10006;</div>
        <div class='contact-info'>
            <h1>Contact</h1>
            Shoot me an email at: <a class='contact-form__link' href='mailto: hello@larrycustod.io'>hello@larrycustod.io</a>
            <p>Or let's meet up if you happen to live in San Diego!</p>
        </div>
        <div class='form-group'>
            <input type='text' name='firstName' id='firstName' 
            class='form-input' placeholder='name' required/>
        </div>
        <div class='form-group'>
            <input type='email' name='email' id='lastName' 
            class='form-input' placeholder='e-mail' required/>
        </div>
        <div class='form-group'>
            <textarea type='text' name='message' 
            class='form-textarea' id='message'
            maxlength="200" placeholder='message'></textarea>
        </div>
        <button type='submit' class='button-submit'>SEND</button>
    </form>
</div>