<header id='header' class='header-top'>
    <span class='header-logo' href='#'>larrycustod.io</span>
    <span id='navButton' class='nav-menu__button'>menu</span>
    <nav id='navMenu' class='nav-menu nav--hide'>
        <div class='menu-links'>
            <a class='menu__link' href='/'>home</a>
            <a class='menu__link' href='/about'>about</a>
            <a class='menu__link' href='/contact'>contact</a>
        </div>
    </nav>
</header>