<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>larry custodio</title>
  <meta name="author" content="larry custodio">
  <meta name="keywords" content="portfolio, web developer, san diego">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300|Lato" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  </head>
  <body>
  <div id='activeMenuOverlay' class='menu--overlay'></div>