<header class='navbar'>
    <a class='navbar__item--title' href='#'>Larry Custodio</a>
    <nav class='navbar__menu'>
        <a class='nav__menu--link' href='#about'><span class='link-text'>about me</span></a>
        <a class='nav__menu--link' href='#work'><span class='link-text'>work</span></a>
        <a class='nav__menu--link' href='#contact'><span class='link-text'>contact</span></a>
    </nav>
</header>