<header id='header' class='header-top'>
    <nav id='navMenu' class='nav-menu'>
        <div class='menu-links'>
            <a class='menu__link <%= (page_name === '')? "link-active" : null %>' href='/'>home</a>
            <a class='menu__link <%= (page_name === "about")? "link-active" : null %>' href='/about'>about</a>
            <a class='menu__link' href='assets/LarryCustodio-Resume.pdf'>resume</a>
            <span id='contactMenuLink' class='menu__link'>contact</span>
        </div>
    </nav>
</header>