<header id='header' class='header text--monospace'>
    <a class='header__title-link' href='#'>larrycustod.io</a>
    <span id='navButton' class='nav__menu--button'>&#9776;</span>
    <nav id='navMenu' class='nav__menu'>
        <a class='nav__menu-link' href='#about'><span class='link-text'>about me</span></a>
        <a class='nav__menu-link' href='#work'><span class='link-text'>work</span></a>
        <a class='nav__menu-link' href='#contact'><span class='link-text'>contact</span></a>
    </nav>
</header>