<header id='header' class='header-top'>
    <span class='header-logo' href=''><a href='/'>larrycustod.io</a></span>
    <span id='navButton' class='nav-menu__button'>menu</span>
    <nav id='navMenu' class='nav-menu nav--hide'>
        <div class='menu-links'>
            <a class='menu__link <%= (page_name === '')? "link-active" : null %>' href='/'>home</a>
            <a class='menu__link <%= (page_name === "about")? "link-active" : null %>' href='/about'>about</a>
            <a class='menu__link <%= (page_name === "contact")? "link-active" : null %>'>contact</a>
        </div>
    </nav>
</header>