// Projects section
.section__projects .section__content{
    display: flex;
    flex-flow: row wrap;
    font-weight: 500;
}

// Project container + children node assets
.project__container {
    color: $text-main-color;
    flex: 1 0 50%;
    text-align: center;
    padding: 4.5vh 3vw;
}

.project__title {
    color: $text-project-title;
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
}

.project__subtitle {
    color: $text-project-subtitle;
    font-size: 1.35rem;
    margin-top: 0;
    line-height: 1.85rem;
}

// Project media + description
.project__media {
    max-width: 85vw;
    margin: 0 auto;
    & .media__img {
        max-width: 100%;
    }
}

.project__textarea {
    text-align: left;
    line-height: 1.85rem;

}

// Technology Section
.tech__heading {
    color: $text-main-color;
    font-weight: 800;
    font-size: 1.35rem;
    padding-bottom: $spacer-xsmall;
    text-transform: uppercase;
}

.tech__list {
    color: $light-blue;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
}

.list__item {
    display: inline-block;
    margin: 0 1.0rem 0.5rem; 
}

// Container modifiers - dynamic borders