// Projects section
.section__projects .section__content {
    display: flex;
    flex-flow: row wrap;
    font-weight: 500;
}

// Project container + children node assets
.project__container {
    color: $text-main-color;
    flex: 1 0 50%;
    filter: grayscale(0.9); 
    margin: 0.75rem;
    padding: 2.5vh 7.5vw;
    position: relative;
    text-align: center; // Container modifiers - dynamic borders
    transition: all 500ms ease-in-out;
    &>.border {
        position: absolute;
        background-color: $light-blue;
        &.border__top {
            top: 0%;
        }
        &.border__bottom {
            bottom: 0%;
        }
        &.border__left,
        &.border__left--overlay {
            left: 1%;
        }
        &.border__right,
        &.border__right--overlay {
            right: 1%;
        }
        &.border--x {
            width: 0%;
            height: 2px;
            left: 50%;
            transform: translateX(-50%);
            transition: width 650ms ease-out;
        }
        &.border--y {
            width: 2px;
            height: 99.97%;
            top: 50%;
            transform: translateY(-50%);
        }
        &.border__left--overlay,
        &.border__right--overlay {
            background-color: $white;
            width: 2px;
            height: 99.97%;
            transition: height 325ms ease-out 650ms;
        }
    }
    &.container--active{
        filter: grayscale(0);
        &>.border--x{
            width: 98%;
        }
        &>.border__left--overlay,
        &>.border__right--overlay {
            height: 0%;
        }
    }
    @media (min-width: 1024px) {
        display: flex;
        flex-flow: row wrap;
        padding: 6.5vh 7.5vw;
    }
}

.project__heading {
    .title {
        color: $text-project-title;
        font-size: 1.1rem;
        margin: 0 0 $spacer-xsmall;
        text-transform: uppercase;
    }
    .subtitle {
        color: $text-project-subtitle;
        font-size: 1.35rem;
        margin: 0 0 $spacer-xsmall;
        line-height: 1.85rem;
    }
    margin-bottom: $spacer-small;
    @media (min-width: 1024px) {
        flex-basis: 100%;
        text-align: left;
    }
}

// Project media + description
.project__media {
    max-width: 85vw;
    margin: 0 auto 1rem;
    & .media__img {
        max-width: 100%;
    }
    @media (min-width: 1024px) {
        flex-basis: 40%;
        order: 2;
    }
}

.project__description {
    @media (min-width: 1024px) {
        align-items: center;
        display: flex;
        flex-basis: 56%;
        flex-flow: row wrap;
        justify-content: center;
        order: 1;
    }
}

.project__textarea {
    text-align: left;
    line-height: 1.85rem;
    margin-top: 0;
    @media (min-width: 1024px) {
        font-size: 1.25rem;
        line-height: 2rem;
    }
}

// Technology Section
.tech__heading {
    color: $text-main-color;
    font-weight: 800;
    font-size: 1.25rem;
    padding-bottom: $spacer-xsmall;
    text-transform: uppercase;
}

.tech__list {
    color: $light-blue;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
}

.list__item {
    display: inline-block;
    margin: 0 1.0rem 0.5rem;
}