<section id="about" class='section--container section-about'>
    <h1 class='section__h1'>about me</h1>
    <article class='section__content'>
        <p>I enjoy creating modern, practical, and engaging websites and applications. My (growing!) skillset focuses on full-stack
            Javascript -- using MongoDB, Express, React, and Node.js.</p>
        <p>When not busy with coding, I spend my time taking flattering photos of my friends, making my own bread, and keeping
            up with the latest news in distance running.</p>
        <p>Check out some of my work below. If anything catches your eye then I’d be happy to hear from you through the form
            below, or email me at:
            <a class='section__link' href='mailto:mail@larrycustod.io'>mail@larrycustod.io.</a>
        </p>
        <p>
            Cheers!
        </p>
    </article>
</section>