<% include partials/head %>
    <% include partials/header %>
        <!--End header-->
        <section id="about" class='section--container section-thanks'>
            <h1 class='section__h1'>Thanks!</h1>
            <article class='section__content'>
                <p>
                    Expect a reply from me within a day! Meanwhile, 
                    you can either <a href='/'>go back to the homepage</a>
                    or contact me via any of the other channels below: 
                </p>
            </article>
        </section>
        <!-- End Thanks -->
<% include partials/footer %>