<section id="contact" class='section--container section-contact'>
    <h1 class='section__h1'>contact</h1>
    <article class='section__content'>
        Shoot me a message, and I'll get back to you as soon as possible!
        <div class='section__contacts'>
            <a class='contacts__link' href='mailto:mail.larrycustod.io' target='_blank'>mail@larrycustod.io</a>
            <a class='contacts__link' href='https://github.com/larrycustodio' target='_blank'>github.com/larrycustodio</a>
            <a class='contacts__link' href='https://codepen.io/larrycustodio/' target='_blank'>codepen.com/larrycustodio</a>            
        </div>
        <form id='section__form'>
            <fieldset class='text--monospace'>
                <div class='form__group'>
                    <span class='input--status'>-</span>
                    <label for='name' class='form__label'>name</label>
                    <input name='name' type='text' id='inName' class='form__input' required />
                </div>
                <div class='form__group'>
                    <span class='input--status'>-</span>                        
                    <label for='email' class='form__label'>email</label>
                    <input name='email' type='email' id='inEmail' class='form__input' required />
                </div>
                <div class='form__group'>
                    <span class='input--status'>-</span>                        
                    <label for='message' class='form__label'>message</label>
                    <textarea name='message' id='inMessage' class='form__input' maxlength="350" required></textarea>
                </div>
                <button type='submit' id='inSend' class='form__submit'>Send</button>
            </fieldset>
        </form>
    </article>
</section>