<section id="contact" class='section--container section-contact'>
    <h1 class='section__h1'>contact</h1>
    <article class='section__content'>
        Shoot me a message, and I'll get back to you as soon as possible!
        <form id='section__form'>
            <fieldset class='text--monospace'>
                <div class='form__group'>
                    <span class='input--status'>-</span>
                    <label for='name' class='form__label'>name</label>
                    <input type='text' id='name' class='form__input' required />
                </div>
                <div class='form__group'>
                    <span class='input--status'>-</span>                        
                    <label for='email' class='form__label'>email</label>
                    <input type='email' id='email' class='form__input' required />
                </div>
                <div class='form__group'>
                    <span class='input--status'>-</span>                        
                    <label for='message' class='form__label'>message</label>
                    <textarea id='message' name='message' class='form__input' required></textarea>
                </div>
                <button type='submit' id='sendForm' class='form__submit' disabled>Send</button>
            </fieldset>
        </form>
    </article>
</section>