<section id="contact" class='section--container section-contact'>
    <h1 class='section__h1'>contact</h1>
    <article class='section__content'>
        Shoot me a message, and I'll get back to you as soon as possible!
        <div class='section__contacts'>
            <a class='contacts__link' href='mailto:mail.larrycustod.io' target='_blank'>mail@larrycustod.io</a>
            <a class='contacts__link' href='https://github.com/larrycustodio' target='_blank'>github.com/larrycustodio</a>
            <a class='contacts__link' href='https://codepen.io/larrycustodio/' target='_blank'>codepen.com/larrycustodio</a>            
        </div>
        <form id='section__form' action='/contact' method='post'>
            <fieldset class='text--monospace'>
                <div class='form__group'>
                    <span class='input--status'>-</span>
                    <label for='name' class='form__label'>first name</label>
                    <input name='first_name' type='text' id='firstname' class='form__input' required />
                </div>
                <div class='form__group'>
                    <span class='input--status'>-</span>
                    <label for='name' class='form__label'>last name</label>
                    <input name='last_name' type='text' id='lastname' class='form__input' required />
                </div>
                <div class='form__group'>
                    <span class='input--status'>-</span>                        
                    <label for='email_address' class='form__label'>email</label>
                    <input name='email' type='email' id='email' class='form__input' required />
                </div>
                <button type='submit' id='sendForm' class='form__submit'>Send</button>
            </fieldset>
        </form>
    </article>
</section>