<% include partials/head %>
    <% include partials/header %>
        <!--End header-->
        <section id='hero' class='section--container section-top text--monospace'>
            <header class='section-top__header'>
                <div id='headerGreeting' class='section-top__header-sub'>Hello, I am</div>
                <div id='headerName' class='section-top__header-title'>Larry Custodio</div>
                <div id='headerTagline' class='section-top__header-sub'>web developer</div>
            </header>
        </section>
        <!-- End Top -->
        <% include about-section %>
        <!-- End About -->
        <% include work-section %>
        <!-- End Work -->
        <%include contact-section %>
        <!-- End Contact -->
        <% include partials/footer %>