<% include partials/head %>
    <% include partials/header %>
        <!--End header-->
        <section id='hero' class='section--container section-top'>
            <header class='section-top__header'>
                <div class='section-top__header-title'>Larry Custodio</div>
                <div class='section-top__header-sub'>
                Enthusiastic <a href='https://github.com/larrycustodio' target='_blank'> JavaScript developer </a> 
                from San Diego who enjoys designing simple and elegant web user interfaces.
                </div>
            </header>
        </section><!--End header-->
    <% include work-section %><!--End header-->
    <section class='section--container section-contact-links'>
        <article class='section__content content__contact-links'>
            <p>Have a project in mind? I'd be stoked to hear from you!</p>
        </article>
    </section>
<% include partials/footer %>