<% include partials/head %>
<% include partials/header %>
<main class='index'>
    <div class=''>Hello, I am</div>
    <div class=''>Larry Custodio</div>
    <div class=''> &lt; <span class=''>web developer</span> &gt; </div>
</main>
<% include partials/footer %>