<% include partials/head %>
    <% include partials/header %>
        <!--End header-->
        <section id='hero' class='section--container section-top text--monospace'>
            <header class='section-top__header'>
                <div id='headerName' class='section-top__header-title'>Larry Custodio</div>
                <div id='headerTagline' class='section-top__header-sub'>
                Enthusiastic <a href='https://github.com/larrycustodio' target='_blank'> JavaScript developer </a> 
                based in San Diego who enjoys designing simple and elegant web user interfaces.
                </div>
            </header>
        </section><!--End header-->
    <% include work-section %><!--End header-->
<% include partials/footer %>