<% include partials/head %>
    <% include partials/header %>
        <!--End header-->
        <section class='section--container section-top text--monospace'>
            <header class='section-top__header'>
                <div class='section-top__header-sub'>Hello, I am</div>
                <div class='section-top__header-title'>Larry Custodio</div>
                <div id='subRotate' class='section-top__header-sub'>web developer</div>
            </header>
        </section>
        <!-- End Top -->
        <% include about-section %>
        <!-- End About -->
        <% include work-section %>
        <!-- End Work -->
        <section id="contact" class='section--container section-contact'>
            <h1 class='section__h1'>contact</h1>
        </section>
        <!-- End Contact -->
        <% include partials/footer %>