<section id="contact" class='section--container section-contact'>
    <article class='section__content'>
    Got any cool projects in mind? 
        <div id='indexContactButtons' class='contact-link__index'>
            I'd be stoked to hear from you!
        </div>
    </article>
</section>