/* * * * * * * * * * 
    Variables 
* * * * * * * * * * */
$theme-green: rgb(41,196,103);
$theme-darkblue: rgb(52,65,77);
$color-background__menu--overlay: rgba(39, 39, 39, 0.6);
$color-background__header: rgb(52,65,77);
$color-text__header: rgb(204,204,204);
$color-text__header--bracket:  rgb(139,139,139);
$color-background__navbar---active: rgb(52,65,77);

$theme-darkblue: rgb(52,65,77);
$color-text__container-top__sub-top: rgb(249,177,52);
$color-text__container-top__sub-bottom: rgb(180,124,232);
$color-blinker: rgb(224, 224, 224);

$color-text__section__h1:rgb(41,196,103);
$color-text__section__h1--bracket: rgb(249,177,52);

$color-text__work__title: rgb(45,45,45);
$color-shadow__work-card: rgb(219,219,219);
$color-text__card-action: rgb(180,124,232);
$color-background__card-action--hover: rgb(247, 239, 255);

$color-form__input: rgb(156,156,156);
$color-text__form-button: rgb(255,255, 255);

$color-background__footer: rgb(20,104,80);
$color-text__footer: rgb(122,200,178);

$width-tablet: 768px;
$width-laptop: 1024px;

/* * * * * * * * * * 
    Main Modifiers 
* * * * * * * * * * */
* {
    box-sizing: border-box;
}
body {
    display: flex;
    margin: 0;
    flex-flow: row wrap;
    font-family: 'Lato', Tahoma, Arial, sans-serif;
}
a,
a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
    outline:none;
}
.text--monospace {
    font-family: 'Raleway', 'Segoe UI', sans-serif;
}
/* * * * * * * * * * 
    Header 
* * * * * * * * * * */
@keyframes colorDown {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: $color-background__header;        
    }
}
.menu--overlay {
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}
.menu-overlay--active {
    display: block;
    background: $color-background__menu--overlay;    
}
.header {
    background-color: $color-background__header;
    display: flex;
    flex: 1 0 100%;
    flex-flow: row wrap;
    height: 7vh;
    position: fixed;
    width: 100vw;
    transition: background-color 0.5s ease;
    z-index: 2; 
    @media all and (min-width: $width-laptop){
        justify-content: space-between;
        padding: 0 5vw 0 12.5vw;
    }
}
.header__title-link {
    color: $color-text__header;        
    flex-basis: 100%;   
    font-size: 1.35em;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin: auto;
    text-align: center;
    &:before {
        content: '<';
        color: $color-text__header--bracket;
        margin-right: 0.125em;
    }
    &:after {
        content: '>';
        color: $color-text__header--bracket;
        margin-left: 0.125em;        
    }
    @media all and (min-width: $width-tablet){
        flex-basis: 15%;
        font-size: 1.85em;
    }
    @media all and (min-width: $width-laptop){
        margin: auto 0;
    }
}

/* * * * * * * * * * 
    Nav Bar
* * * * * * * * * * */
@keyframes slide {
    0%{
        width: 0;
    }
    100%{
        width: 50vw;
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
    
}
.nav__menu--button {
    color: $color-text__header;
    cursor: pointer;
    font-size: 1.35em;
    width: 17vw;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    @media all and (min-width: $width-tablet){
        font-size: 2.15em;
    }
    @media all and (min-width: $width-laptop){
        display: none;
    }
}
.nav__menu {
    display: none;
    @media all and (min-width: $width-laptop){
        display: flex;
        font-size: 1.25em;     
        flex-basis: 50%;
        justify-content: flex-end;
    }
}
@media all and (max-width: $width-laptop){
    .body--active {
        background: rgba(158, 158, 158, 0.75);
    }
    .nav__menu.menu--active {
        animation: slide 450ms ease forwards;
        background-color: $color-background__navbar---active;
        display: block;
        font-size: 1.5em;
        height: 93vh;
        position: absolute;
        right: 0;
        top: 7vh;
        @media all and (min-width: $width-tablet){
            font-size: 2.5em;
        }
        .nav__menu-link {
            animation: fadeInRight 250ms ease forwards;
            justify-content: center;
            margin: 1em;
            opacity: 0;
            @for $i from 1 through 3 {
                &:nth-of-type(#{$i}){
                    transform: translateX(-0.75em);                
                    animation-delay: 175ms * $i;
                }
            }
        }
    }
}
.nav__menu-link {
    color: $color-text__header;
    display: flex;
    margin: auto 0;
    text-align: center;
    @media all and (min-width: $width-laptop){
        align-items: center;
        height: 100%;
        padding: 0 1.5em 0 0.5em;
        &:before {
            content: '<>';
            color: $color-text__section__h1--bracket;
            margin-right: 0.25em;
        }
    }
}

/* * * * * *
    Content
* * * * * * */
.section--container {
    flex: 1 0 100%;
    line-height: 1.35em; 
    padding: 4vh 10vw 1.25vh;
    &:not(:first-of-type){
        text-align: center;
        font-size: 0.75em;
    }
    p {
        margin: 0.45em 0;
    }
    @media all and (min-width: $width-tablet){
        padding: 6vh 12.5vw 2vh;
        &:not(:first-of-type){            
            font-size: 1em;
        }
    }
    @media all and (min-width: $width-laptop){
        padding: 6vh 12.5vw 1vh;
        &:not(:first-of-type){
            font-size: 1.15em;   
            text-align: left;
        }
    }
}
.section__h1 {
    @extend .text--monospace;
    color: $color-text__section__h1;
    font-size: 1.825em;
    font-weight: 600;
}

.section__link {
    color: $color-text__section__h1;
    font-weight: 600;
}

/* * * * * * * *
    Top Section
* * * * * * * * */
@keyframes blink {
    50% {
        opacity: 0;
    }
}
.section-top {
    background-color: $theme-darkblue;
    height: 50vh;
    position: relative;
    padding-top: 9vh;
    @media all and (min-width: $width-tablet){
        font-size: 168%;
        height: 38vh;
    }
    @media all and (min-width:$width-laptop){
        height: 49vh;
    }
}
.section-top__header {
    flex: 1 0 50%;
    line-height: 2.55em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.section-top__header-title {
    color: $theme-green;
    font-weight: 500;
    font-size: 2.25em;
}
.section-top__header-sub {
    font-weight: 500;
    font-size: 1.45em;
    &:nth-child(1){
        color: $color-text__container-top__sub-top;
    }
    &:last-child{
        color: $color-text__container-top__sub-bottom;
        &:after {
            animation: blink 1s infinite steps(1);
            content: '|';
            color: $color-blinker;
            font-weight: 300;
            margin-right: 0.125em;            
        }
    }
}

/* * * * * * * *
    Work Section
* * * * * * * * */
.work-samples {
    display: flex;
    flex-flow: row wrap;
}
.work-samples__card {
    border-radius: 0.125em;
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 100%;
    margin-bottom: 5vh;
    &:first-of-type{
        margin-top: 2.5vh;
    }
}
.card__media {
    display: inline-block;
    flex-basis: 100%;
    margin: auto;
    @media all and (min-width: $width-laptop){
        flex: 1 0;
    }
}
.card__media__img {
    width: 100%;
}
.card__title {
    color: $color-text__work__title;
    margin:0;
    font-weight: 400;
}
.card--inverse {
    @media all and (min-width: $width-laptop) {
        .card__media {
            order: 1
        }
        .card__body {
            order: 0;
        }        
    }
}
.card__body {
    flex: 1 0;
    margin: auto;
    padding: 1em;
    text-align: center;
    @media all and (min-width: $width-laptop){
        text-align: left;
    }
}
.card__desc {
    font-size: 0.875em;
    margin: 0.5em 0;
}
.card__actions {
    text-align: center;
}
.card__action-link {
    color: $color-text__card-action;
    font-weight: 500;
    padding: 0.25em 0.5em;
    margin: 0 auto;
    text-transform: uppercase;
    &:active,
    &:focus,
    &:hover {
        background-color: $color-background__card-action--hover;
    }
}

/* * * * * *
    Contact Form
* * * * * * */
.section__contacts {
    text-align: center;
}
.contacts__link {
    margin: 0 0.5em;
}

.form__fieldset {
    border: none;
    padding: 1.75em 0;
}
.form__group {
    position: relative;
    margin-bottom: 1em;
    text-align: center;
}
.form__label {
    color: $color-form__input;
    font-size: 0.65em;
    left: 0.75em;
    opacity: 0;
    position: absolute;
    text-transform: uppercase;
    transform: translateY(-0.65em);
    transition: all 0.33s ease;
}
.form__label-focus {
    opacity: 1;
    transform: translateY(0);
}
.form__input {
    border: 1px solid $color-form__input;
    border-width: 0 0 1px 0;
    padding: 1.45em 0.5em 0.35em;
    width: 100%;
    text-transform: none;
    &:focus {
        color: $color-form__input;        
        outline: none;
    }
}
.form__button {
    background: $theme-darkblue;
    border: none;
    border-radius: 0;
    color: $color-text__form-button;
    padding: 0.75em;
    text-transform: uppercase;
    &:focus {
        outline: none;
    }
}
.form__group-buttons {
    text-align: center;
}
/* * * * * *
    Footer
* * * * * * */
.contact__icon {
    display: inline-block;
    transition: transform 0.4s ease;
    @for $i from 1 through 3 {
        &:nth-child(#{$i}){
            & svg {
                fill: lighten(#53396b, 14 * $i);
            }
        }
    }
    &:hover,
    &:focus {
        transform: scale(1.15);
    }
}

.footer {
    background-color: $color-background__footer;
    color: $color-text__footer;
    padding: 1vw;
    text-transform: uppercase;
    text-align: center;
}