/* * * * * * * * * * 
    Variables 
* * * * * * * * * * */
$color-background__header: rgb(45,45,45);
$color-text__header: rgb(204,204,204);
$color-text__header--bracket:  rgb(139,139,139);

$color-background__container-top: rgb(52,65,77);
$color-text__container-top__title:rgb(41,196,103);
$color-text__container-top__sub-top: rgb(249,177,52);
$color-text__container-top__sub-bottom: rgb(180,124,232);

$color-text__section__h1:rgb(41,196,103);
$color-text__section__h1--bracket: rgb(249,177,52);

$color-background__footer: rgb(20,104,80);
$color-text__footer: rgb(122,200,178);

$width-tablet: 768px;
$width-laptop: 1024px;

/* * * * * * * * * * 
    Main Modifiers 
* * * * * * * * * * */

* {
    box-sizing: border-box;
}
body {
    display: flex;
    margin: 0;
    flex-flow: row wrap;
    font-family: 'Avenir','Raleway', Tahoma, Arial, sans-serif;
}
a,
a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
}

/* * * * * * * * * * 
    Header 
* * * * * * * * * * */

.header {
    background-color: $color-background__header;
    display: flex;
    flex: 1 0 100%;
    flex-flow: row wrap;
    height: 7vh;
    position: relative;
    @media all and (min-width: $width-tablet){
        height: 4em;
    }
    @media all and (min-width: $width-laptop){
        justify-content: space-between;
        padding: 0 5vw 0 12.5vw;
    }
}
.header__title-link {
    color: $color-text__header;        
    flex-basis: 100%;   
    font-size: 1.75em;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin: auto;
    text-align: center;
    &:before {
        content: '<';
        color: $color-text__header--bracket;
        margin-right: 0.125em;
    }
    &:after {
        content: '>';
        color: $color-text__header--bracket;
        margin-left: 0.125em;        
    }
    @media all and (min-width: $width-tablet){
        flex-basis: 15%;
        font-size: 1.85em;
    }
    @media all and (min-width: $width-laptop){
        margin: auto 0;
    }
}
/* * * * * * * * * * 
    Nav Bar
* * * * * * * * * * */
.nav__menu--button {
    color: $color-text__header;
    font-size: 2.25em;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    @media all and (min-width: $width-tablet){
        font-size: 2.75em;
    }
    @media all and (min-width: $width-laptop){
        display: none;
    }
}
.nav__menu {
    display: none;
    @media all and (min-width: $width-laptop){
        display: flex;
        font-size: 1.25em;     
        flex-basis: 50%;
        justify-content: flex-end;
    }
}
.nav__menu--active {
    display: flex;
    flex-flow: row wrap;
    font-size: 2.25em;
    height: 100vh;    
    justify-content: center;
    position: absolute;
    width: 35vw;    
}
.nav__menu--link {
    color: $color-text__header;
    display: flex;
    margin: auto 0;
    text-align: center;
    @media all and (min-width: $width-laptop){
        align-items: center;
        height: 100%;
        padding: 0 1.5em 0 0.5em;
        &:before {
            content: '<>';
            color: $color-text__section__h1--bracket;
            margin-right: 0.25em;
        }
    }
}

/* * * * * *
    Content
* * * * * * */
.section--container {
    flex: 1 0 100%;
    line-height: 1.5em; 
    padding: 3vh 10vw;
    @media all and (min-width: $width-tablet){
        padding: 7.5vh 12.5vw;
        font-size: 125%;
    }
}
.section__h1 {
    color: $color-text__section__h1;
    font-size: 1.625em;
    &:before {
        color: $color-text__section__h1--bracket;
        content: '#';
        margin-right: 0.125em;
    }
    @media all and (min-width: $width-laptop){
        font-size: 2em;
    }
}
.section__link {
    color: $color-text__section__h1;
    font-weight: 600;
}
/* * * * * *
    Top Section
* * * * * * */

.section-top {
    background: $color-background__container-top;
    height: 30vh;
    position: relative;
    @media all and (min-width: $width-tablet){
        height: 35vh;
    }
    @media all and (min-width:$width-laptop){
        height: 49vh;
    }
}

.section-top__header {
    flex: 1 0 50%;
    line-height: 2.55em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.section-top__header-title {
    color: $color-text__container-top__title;
    font-weight: 500;
    font-size: 2.25em;
}
.section-top__header-sub {
    font-weight: 500;
    font-size: 1.625em;
    &:nth-child(1){
        color: $color-text__container-top__sub-top;
    }
    &:last-child{
        color: $color-text__container-top__sub-bottom;
        &:before {
            content: '<';
            margin-right: 0.25em;            
        }
        &:after {
            content: '/>';
            margin-left: 0.25em;
        }
    }
}

/* * * * * *
    Footer
* * * * * * */
.footer {
    background: $color-background__footer;
    color: $color-text__footer;
    text-transform: uppercase;
    text-align: center;
}