/* * * * * * * * * * 
    Variables 
* * * * * * * * * * */
$color-background__header: rgb(51, 51, 51);
$color-text__header: rgb(204,204,204);
$color-text__header--bracket:  rgb(139,139,139);
$color-background__navbar---active: rgb(60,60,60);

$color-background__container-top: rgb(52,65,77);
$color-text__container-top__title:rgb(41,196,103);
$color-text__container-top__sub-top: rgb(249,177,52);
$color-text__container-top__sub-bottom: rgb(180,124,232);
$color-blinker: rgb(224, 224, 224);

$color-text__section__h1:rgb(41,196,103);
$color-text__section__h1--bracket: rgb(249,177,52);

$color-text__work__title: rgb(45,45,45);
$color-shadow__work-card: rgb(219,219,219);
$color-text__card-action: rgb(180,124,232);
$color-background__card-action--hover: rgb(247, 239, 255);

$color-background__footer: rgb(20,104,80);
$color-text__footer: rgb(122,200,178);

$width-tablet: 768px;
$width-laptop: 1024px;

/* * * * * * * * * * 
    Main Modifiers 
* * * * * * * * * * */
* {
    box-sizing: border-box;
}
body {
    display: flex;
    margin: 0;
    flex-flow: row wrap;
    font-family: 'Open Sans', Tahoma, Arial, sans-serif;
}
a,
a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
    outline:none;
}
.text--monospace {
    font-family: 'Maven Pro', 'Courier', monospace,
}
/* * * * * * * * * * 
    Header 
* * * * * * * * * * */
@keyframes colorDown {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: $color-background__header;        
    }
}
.header {
    background-color: $color-background__header;
    display: flex;
    flex: 1 0 100%;
    flex-flow: row wrap;
    height: 7vh;
    position: fixed;
    width: 100vw;
    transition: background-color 0.5s ease;    
    z-index: 99;
    @media all and (min-width: $width-laptop){
        background-color: transparent;
        justify-content: space-between;
        padding: 0 5vw 0 12.5vw;
    }
}
.header--scrolled {
    animation: colorDown 0.5s ease forwards;
}
.header__title-link {
    color: $color-text__header;        
    flex-basis: 100%;   
    font-size: 1.75em;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin: auto;
    text-align: center;
    &:before {
        content: '<';
        color: $color-text__header--bracket;
        margin-right: 0.125em;
    }
    &:after {
        content: '>';
        color: $color-text__header--bracket;
        margin-left: 0.125em;        
    }
    @media all and (min-width: $width-tablet){
        flex-basis: 15%;
        font-size: 1.85em;
    }
    @media all and (min-width: $width-laptop){
        margin: auto 0;
    }
}

/* * * * * * * * * * 
    Nav Bar
* * * * * * * * * * */
@keyframes slide {
    0% {
        height: 0;
    }
    100%{
        height: 28vh;
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
    
}
.nav__menu--button {
    color: $color-text__header;
    font-size: 2.25em;
    width: 17vw;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    @media all and (min-width: $width-tablet){
        font-size: 2.75em;
    }
    @media all and (min-width: $width-laptop){
        display: none;
    }
}
.nav__menu {
    display: none;
    @media all and (min-width: $width-laptop){
        display: flex;
        font-size: 1.25em;     
        flex-basis: 50%;
        justify-content: flex-end;
    }
}
@media all and (max-width: $width-laptop){
    .nav__menu.menu--active {
        animation: slide 450ms ease;
        background-color: $color-background__navbar---active;
        display: block;
        font-size: 1.5em;
        position: absolute;
        top: 7vh;
        width: 100%;
        @media all and (min-width: $width-tablet){
            font-size: 2.5em;
        }
        .nav__menu-link {
            animation: fadeInRight 250ms ease forwards;
            justify-content: center;
            margin: 1em;
            opacity: 0;
            @for $i from 1 through 3 {
                &:nth-of-type(#{$i}){
                    transform: translateX(-0.75em);                
                    animation-delay: 175ms * $i;
                }
            }
        }
    }
}
.nav__menu-link {
    color: $color-text__header;
    display: flex;
    margin: auto 0;
    text-align: center;
    @media all and (min-width: $width-laptop){
        align-items: center;
        height: 100%;
        padding: 0 1.5em 0 0.5em;
        &:before {
            content: '<>';
            color: $color-text__section__h1--bracket;
            margin-right: 0.25em;
        }
    }
}

/* * * * * *
    Content
* * * * * * */
.section--container {
    flex: 1 0 100%;
    line-height: 1.5em; 
    padding: 4vh 10vw 1.25vh;

    @media all and (min-width: $width-tablet){
        padding: 6vh 12.5vw 2vh;
        font-size: 125%;
    }
    @media all and (min-width: $width-laptop){
        padding: 6vh 12.5vw 1vh;
        font-size: 135%;
    }
}
.section__h1 {
    @extend .text--monospace;
    color: $color-text__section__h1;
    font-size: 1.625em;
    font-weight: 600;
    &:before {
        color: $color-text__section__h1--bracket;
        content: '#';
        margin-right: 0.125em;
    }
    @media all and (min-width: $width-laptop){
        font-size: 2em;
    }
}
.section__link {
    color: $color-text__section__h1;
    font-weight: 600;
}

/* * * * * * * *
    Top Section
* * * * * * * * */
@keyframes blink {
    50% {
        opacity: 0;
    }
}
.section-top {
    background-color: $color-background__container-top;
    height: 30vh;
    position: relative;
    padding-top: 9vh;
    @media all and (min-width: $width-tablet){
        font-size: 168%;
        height: 35vh;
    }
    @media all and (min-width:$width-laptop){
        height: 49vh;
    }
}
.section-top__header {
    flex: 1 0 50%;
    line-height: 2.55em;
    position: absolute;
    top: 59%;
    transform: translateY(-50%);
}
.section-top__header-title {
    color: $color-text__container-top__title;
    font-weight: 500;
    font-size: 2.25em;
}
.section-top__header-sub {
    font-weight: 500;
    font-size: 1.625em;
    &:nth-child(1){
        color: $color-text__container-top__sub-top;
    }
    &:last-child{
        color: $color-text__container-top__sub-bottom;
        &:after {
            animation: blink 1s infinite steps(1);
            content: '|';
            color: $color-blinker;
            font-size: 125%;
            font-weight: 300;
            margin-right: 0.125em;            
        }
    }
}

/* * * * * * * *
    Work Section
* * * * * * * * */
.work-samples {
    display: flex;
    flex-flow: row wrap;
}
.work-samples__card {
    border-radius: 0.125em;
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 100%;
    margin-bottom: 5vh;
    &:first-of-type{
        margin-top: 2.5vh;
    }
}
.card__media {
    display: inline-block;
    flex-basis: 100%;
    margin: auto;
    @media all and (min-width: $width-laptop){
        flex: 1 0;
    }
}
.card__media__img {
    width: 100%;
}
.card__title {
    color: $color-text__work__title;
    margin:0;
    font-weight: 400;
}
.card--inverse {
    @media all and (min-width: $width-laptop) {
        .card__media {
            order: 1
        }
        .card__body {
            order: 0;
        }        
    }
}
.card__body {
    flex: 1 0;
    margin: auto;
    padding: 1em;
    text-align: center;
    @media all and (min-width: $width-laptop){
        text-align: left;
    }
}
.card__desc {
    font-size: 0.875em;
    margin: 0.5em 0;
}
.card__actions {
    text-align: center;
}
.card__action-link {
    color: $color-text__card-action;
    font-weight: 500;
    padding: 0.25em 0.5em;
    margin: 0 auto;
    text-transform: uppercase;
    &:active,
    &:focus,
    &:hover {
        background-color: $color-background__card-action--hover;
    }
}

/* * * * * *
    Contact Form
* * * * * * */
.section__contacts {
    text-align: center;
}
.contacts__link {
    color: $color-text__container-top__sub-bottom;
    display: block;
    margin: 1em;
    @media all and (min-width: $width-laptop){
        display: inline-block;
    }
}
.form {
    @extend .text--monospace;
    width: 100%;
    margin: 2.5em auto;
    &:hover,
    &:focus {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
        .form__heading {
            color: rgb(76,76,76);
            background-color: rgb(228,228,228);
        }
        .heading__circle {
            &:nth-of-type(1){
                border: 1px solid rgb(220,60,60);                                
                background-color: rgb(255,86,79);
            }
            &:nth-of-type(2){
                border: 1px solid rgb(219,150,15);                
                background-color: rgb(234,179,60);
            }
            &:nth-of-type(3){
                border: 1px solid rgb(19,162,40);
                background-color: rgb(40,200,60);
            }

        }
    }
    @media all and (min-width: $width-tablet){
        width: 85%;
    }
    @media all and (min-width: $width-laptop){
        width: 40%;
    }
}
.form__heading {
    border: 1px solid rgb(125,125,125);
    border-radius: 5px 5px 0 0px;
    background-color: rgb(245,245,245);
    color: rgb(176,177,176);
    font-size: 85%;
}
.heading__circle__container {
    margin: 0 0.5em;
}
.heading__circle {
    display: inline-block;
    background-color: rgb(215,215,215);
    border: 1px solid rgb(202,202,202);
    border-radius: 50%;
    width: 14px;
    height: 14px;
}
.form__fieldset {
    background-color: rgb(58,58,58);
    border-radius: 0 0 5px 5px;
    color: #fff;
    border: none;
    display: block;
    font-size: 85%;
    margin: 0 auto 2em;
    padding: 1%;
    width: 100%;
}
input {
    color: transparent;
    text-shadow: 0 0 0 #fff;
}
.form__group {
    margin: 0.75em 0;
    text-align: left;
}
.form__label {
    display: inline-block;
    flex: 1 0 30%;
    text-align: left;
    &:after {
        content: '$';
        margin-right: 0.5em;
    }
}
.form__caption {
    @extend .text--monospace;    
}
.form__input {
    @extend .text--monospace;
    display: inline-block;
    background-color: transparent;
    border: none;  
    display: inline-block;
    &:focus{
        background-color: rgb(190,190,190);
        outline: none;
    }
}
.form__submit {
    background-color: none;
    border: 1px solid #eee;
    display: block;
    margin: 0 auto;
    padding: 0.5em;
    text-transform: lowercase;
    border-radius: 0;
    &:focus {
        outline: none;
    }
}

/* * * * * *
    Footer
* * * * * * */
.footer {
    background-color: $color-background__footer;
    color: $color-text__footer;
    padding: 1vw;
    text-transform: uppercase;
    text-align: center;
}