<section id="about" class='section--container section-about'>
    <header class='section__header'>
    <h1 class='section__title'>About</h1>
    </header>
    <article class='section__content'>
        <p>Hi, I'm a 26-year old web developer from San Diego, CA. Formerly a biotechnology engineer, I have
        recently made the transition into becoming a full-time web developer. My journey web dev began early in 2017
        when I stumbled upon an intro class at the local city college; since then, I began to develop an interest
        in web dev, as it served as the perfect platform for exercising the use of my creative and logical thinking.
        <p>Currently, am in the process of looking for full-time opportunities, as well as deploying more projects
        to showcase my aptitude as a developer.</p>
        <p>Outside of coding, I like to spend time taking flattering photos of my friends, and methodically 
        learning new cooking techniques and recipes 🍳 
        </p>
        </article>
</section>
<section id="skills" class='section--container section-skills'>
    <header class='section__header'>
    <h1 class='section__title'>Skillset</h1>
    </header>
    <article class='section__content'>
        <p>I specialize in fullstack JavaScript development via the MERN stack (MongoDB, Express.js, React,
        and Node.js)...however I am always curious to explore and dabble with new frameworks and tools to add to my knowledge!</p>
        <div class='skills-list--container'>
            <ul class='skills-list'>
                <li>JavaScript ES6</li>
                <li>React / Redux</li>
                <li>React Native</li>
                <li>HTML &amp; CSS (Sass)</li>
            </ul>
            <ul class='skills-list'>
                <li>Node.js</li>
                <li>Express</li>
                <li>MongoDB (Mongoose)</li>
            </ul>
            <ul class='skills-list'>
                <li>Git</li>
                <li>Gulp</li>
                <li>Webpack</li>
            </ul>
        </div>
    </article>
</section>