<section id="about" class='section--container section-contact'>
    <header class='section__header section-about'>
    <h1 class='section__title'>About</h1>
    </header>
    <article class='section__content'>
        <p></p>
    </article>
</section>
<section id="skills" class='section--container section-contact'>
    <header class='section__header section-skills'>
    <h1 class='section__title'>My Current Skillset</h1>
    </header>
    <article class='section__content'>
        Skills go here
    </article>
</section>