<section id="about" class='section--container section-contact'>
    <header class='section__header section-about'>
    <h1 class='section__title'>About</h1>
    </header>
    <article class='section__content'>
        <p>Hi, I'm a 26-year old web developer from San Diego, CA. Formerly a biotechnology engineer, I have
        recenly been  a transition into deweb development. The beauty of web development allows me to come up
        with solution that involves the effective use both my creative and logical thinking. It 

         useful things, </p>
        <p>Outside of coding, I like to spend time taking flattering photos of my friends, 
        training for endurance sporting events, and methodically learning new cooking techniques 🍳 
        </p>
        </article>
</section>
<section id="skills" class='section--container section-contact'>
    <header class='section__header section-skills'>
    <h1 class='section__title'>My Current Skillset</h1>
    </header>
    <article class='section__content'>
        <p>I currently specialize in web development using the MERN (MongoDB, Express.js, React, Node.js)
         stack. For an overview of my recent resume</p>
    </article>
</section>