@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Awesome Font"), url("/fonts/sofia_pro_regular-webfont.woff2") format("woff2"), url("/fonts/sofia_pro_regular-webfont.woff") format("woff"); }

@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Awesome Font"), url("/fonts/sofia_pro_regular-webfont.woff2") format("woff2"), url("/fonts/sofia_pro_regular-webfont.woff") format("woff"); }

a,
a:hover,
a:focus,
a:visited {
  color: inherit;
  text-decoration: none; }

a:focus {
  outline: none; }

button,
button:active,
button:focus {
  font-family: inherit;
  border: none;
  outline: none;
  padding: 0; }

/* Site components */
/* Main Body + Generic Containers */
body {
  font-family: 'Sofia Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.0rem;
  min-height: 100%;
  width: 100%; }

.site-container {
  max-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }

/* Navbar + Child Components (Links + Logo) */
.nav {
  color: #accde8;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.35rem;
  font-weight: 500;
  justify-content: center;
  padding: 1.75rem 2rem;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .nav {
      font-size: 1.45rem;
      justify-content: space-between; } }
  @media (min-width: 1024px) {
    .nav {
      font-size: 1.85rem;
      padding: 2rem 3rem; } }

.nav__logo {
  margin-bottom: 0.75rem; }
  @media (min-width: 768px) {
    .nav__logo {
      margin: 0; } }

.logo--dark {
  color: #2e6a99; }

/* Navbar links */
.nav__links {
  font-size: 0.95rem;
  text-align: center; }
  @media (min-width: 600px) {
    .nav__links {
      font-size: inherit; } }

.nav__links > .link__item {
  margin: 8px;
  transition: color 250ms ease; }
  .nav__links > .link__item:active {
    color: #2e6a99; }
  .nav__links > .link__item:hover, .nav__links > .link__item:focus {
    color: #2e6a99; }
  @media (min-width: 768px) {
    .nav__links > .link__item:not(:last-of-type) {
      margin-right: 1.25rem; } }

/* Top Section / Hero Container + Components */
.section__content.section--grid {
  display: grid;
  grid-template-columns: 0.75rem auto 0.75rem;
  grid-template-rows: 0.75rem auto 0.75rem auto 0.75rem;
  color: #6592c8;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1.75rem 2rem; }
  @media (min-width: 768px) {
    .section__content.section--grid {
      grid-template-columns: 2fr 0.75rem 1fr;
      grid-template-rows: 1.75rem auto 1.75rem;
      min-height: 50vh; } }
  @media (min-width: 1024px) {
    .section__content.section--grid {
      padding: 1.75rem 3rem;
      grid-template-columns: 2fr 1.75rem 1fr; } }

.content__caption {
  /* Left container */
  /* Right container + components */ }
  .content__caption:first-of-type {
    color: #245d86;
    grid-area: 4/2/5/3; }
    .content__caption:first-of-type .caption__text {
      display: none; }
    .content__caption:first-of-type .caption__button {
      background-color: rgba(133, 175, 226, 0.15);
      border-radius: 5px;
      color: #6592c8;
      cursor: pointer;
      display: block;
      font-size: 1.25rem;
      margin: 1rem auto;
      padding: 0.85rem 2.25rem;
      text-transform: uppercase;
      transition: all 250ms ease; }
      .content__caption:first-of-type .caption__button:hover {
        background-color: rgba(133, 175, 226, 0.2); }
    @media (min-width: 768px) {
      .content__caption:first-of-type {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        grid-area: 2/1/3/2; }
        .content__caption:first-of-type .caption__text {
          font-size: 2.875rem;
          display: block;
          margin-bottom: 1.75rem; }
        .content__caption:first-of-type .caption__button {
          align-self: flex-start;
          margin-left: 0;
          font-size: 1.35rem; } }
    @media (min-width: 1024px) {
      .content__caption:first-of-type .caption__text {
        font-size: 3.25rem; } }
  .content__caption:last-of-type {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    flex: 1 0;
    font-weight: 200;
    grid-area: 2/2/3/3;
    text-align: center; }
    @media (min-width: 768px) {
      .content__caption:last-of-type {
        display: none;
        grid-area: 2/3/3/4; } }
    @media (min-width: 1024px) {
      .content__caption:last-of-type {
        align-items: center;
        display: flex;
        font-size: 1.45rem;
        line-height: 2.65rem;
        text-align: right; } }

.section__projects .section__content {
  display: flex;
  flex-flow: row wrap;
  font-weight: 500; }

.project__container {
  color: #6592c8;
  flex: 1 0 50%;
  text-align: center;
  padding: 4.5vh 3vw; }

.project__title {
  color: #6592c8;
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
  text-transform: uppercase; }

.project__subtitle {
  color: #45bba2;
  font-size: 1.35rem;
  margin-top: 0;
  line-height: 1.85rem; }

.project__media {
  max-width: 85vw;
  margin: 0 auto; }
  .project__media .media__img {
    max-width: 100%; }

.project__textarea {
  text-align: left;
  line-height: 1.85rem; }

.tech__heading {
  color: #6592c8;
  font-weight: 800;
  font-size: 1.35rem;
  padding-bottom: 0.75rem;
  text-transform: uppercase; }

.tech__list {
  color: #accde8;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.5rem; }

.list__item {
  display: inline-block;
  margin: 0 1.0rem 0.5rem; }
