@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Awesome Font'), url('/fonts/sofia_pro_regular-webfont.woff2') format('woff2'), url('/fonts/sofia_pro_regular-webfont.woff') format('woff');
    }