$dark-blue: rgb(46, 106, 153);
$light-blue: rgb(172, 205, 232);
$text-emphasis-color: rgb(36, 93, 134);
$text-main-color: rgb(101, 146, 200);
$green: rgb(69, 187, 162);
$projects--bg-color: rgba(237, 240, 243, 0.5);
$text-project-title: $text-main-color;
$text-project-subtitle: $green;

$spacer-xsmall: 0.75rem;
$spacer-small: 1.25rem;
$spacer: 1.75rem;
$spacer-large: 2rem;
$spacer-xlarge: 3rem;