@import "variables";
@import "typography";

@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Awesome Font'), url('/fonts/sofia_pro_regular-webfont.woff2') format('woff2'), url('/fonts/sofia_pro_regular-webfont.woff') format('woff'),
}

a,
a:hover,
a:focus,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:focus {
    outline: none;
}

button,
button:active,
button:focus {
    border: none;
    outline: none;
    padding: 0;
}

/* Site components */
@import "components/main";
@import "components/navbar";
@import "components/hero";
